/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

:root {
    --primary: #083271;
    --primary-light: #29A5FF;
    --accent-light: #e9e9e9;
    --accent: #083271;
    --warm: #ff4040;
    --green: #43A047;
  }